.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.cardbody{
    position: relative;
    width: 25em;
    height: auto;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    padding: 7px;
    border-radius: 12px;
}
.cardbody input{
    border-radius: 20px;
    padding: 10px;
}
.notebtn{
   position: absolute;
   border-radius: 50%;

}
.container input{
    border: none;
}

.cardShow{
    position: relative;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    margin: 2em;
    padding: 1.5em;
    width: 15em;
     
}
.show h4{word-wrap: break-word;}
.show p{word-wrap: break-word;}

.notebtn{display: flex;
    position: absolute;
    right: 14px;
    }

.show .delBtn{
    position: absolute;
    cursor: pointer;
    padding: 10px;
    right: 10px;
    color: black;
    background-color: rgb(164, 201, 255);
    border-radius: 50%;
    bottom: 0;
}

.notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 434px) {
    .cardShow{
        width: 100%;
    }
    .cardShow{
        margin-bottom: -12px;
    }
}